@model RaidScheduler.WebUI.Models.ManageUserViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">

        <select id="timezone">
            <option>Choose a Timezone</option>
            @foreach (var timezone in ViewBag.Timezones)
            {
                if (timezone == ViewBag.PreferredTimezone)
                {
                    <option value="@timezone" selected="selected">@timezone</option>
                }
                else
                {
                    <option value="@timezone">@timezone</option>
                }

            }
        </select>
        <br />
        <br />

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#timezone').change(function () {
                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({ Timezone: $(this).val() }),
                    url: "/Account/ChangeTimezone",
                })
                .done(function (msg) {
                    alert('Done');
                });
            });
        });
    </script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-57996270-1', 'auto');
    ga('send', 'pageview');

</script>
}
